@import url("media-queries.css");

.car-class{
    border: solid 1px #bdc6be;
    cursor: pointer;
    display: block;
    border-radius: 7px;
    box-shadow: -1px 3px 8px -2px rgba(0,0,0,0.7);
    width: 100%;
    height: 100px;
    padding-top: 7px;
    font-weight:normal;
    margin-top: 20px;
    font-size: 12px;
    background: #d9d9d9 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    color: #555555;	
    
}

.car-class .car-image img{
    width: 79px;
}

.car-class:hover{
/*    background: #6d0019;  Old browsers 
    background: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%);  FF3.6-15 
    background: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to right,  #6d0019 35%,#4d0026 90%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 );  IE6-9 
    color: #327E04;*/
    background-position: left bottom;
    border: solid 1px #d3d9d3;
    box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.7);
}

button:focus{
    outline: unset !important;
}

.car-class:hover .car-arrow{
    background-position:-57px 0px;
}

.car-class button i{
	transform: rotate(0deg);
}

ul{
	list-style: none;
	padding: 10px;
}

li ul button {
	width: 100%;
	height: 40px;
	
	border: solid 1px #bdc6be;
	cursor: pointer;
	
	border-radius: 7px;
	box-shadow: -1px 3px 8px -2px rgba(0,0,0,0.7);
	

	font-size: 12px;
	color: #697165;

	background: linear-gradient(to bottom, #f2f2f2 50%, #b3b3b3);
	
	margin-top: 10px;
	margin-bottom: 10px;
}

li ul button:hover{
	background-position: left bottom;
	border: solid 1px #d3d9d3;
	box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.7);	
}

.arrow{
    background: transparent url("images/ox.png") no-repeat scroll 0px 0px;
    height: 24px;
    float: right;
    width: 51px;
    transform: rotate(0deg);
    position: relative;
    bottom: -14px;
    right: 6px;
    display: none;
}

 
 .car-class-main:hover .arrow{
    background-position: 0px -57px;
    height: 24px;
    width: 51px;
    float:right;
   
}

.car-button-image{
    display: block;
}

.car-class-price {
    font-size: 100%;
}

.car-button-features{
    display: none;
}

.car-button-classname, .car-button-features{
    font-size: 80%
}

.car-button-classname,.car-name{
    text-transform: uppercase;
}

.car-button-classname{}

.car-button-features{
    margin-top: 6px;
}

.car-class-min-price .prices-transfer{
    position: relative;
    top: 8px;
}

.car-class-min-price .prices-transfer{
    position: relative;
    top: 8px;
}

/* car buttons inside car class buttons */
.car-image{display: block;}

.car-name{margin-bottom: 7px;}

.car-features{margin-top: 2px;}


.car-price .prices-chauffeur{
    position: relative;
    bottom: 4px;
    left:0px;
        
}

.car-arrow{
    background: transparent url("images/oxright.png") no-repeat scroll 0px 0px;
    height: 35px;
    float: right;
    width: 51px;
    transform: rotate(0deg);
    position: relative;
    bottom: -4px;
    right: 6px;
    display: none;
}

.prices-chauffeur{
    position: relative;
    top: 4px;
    text-align: left;
    left: 50px;
    font-size: 13px;
}



/*media queries. i keep them here because i could not import them from external place*/

@media only screen and (min-width:768px){
    .car-class{
        height: 71px;
    }
    
    .car-button-image{
        display: block;
    }
    
    .car-button-features{
        display: block;
        margin-top: 5px;
    }
    
    .car-button-features img{
        position: relative;
        left: 60px;
    }
    
    .car-class-min-price .prices-transfer{
        position: relative;
        top: 13px;
    }
    
    .car-price .prices-transfer{
        position: relative;
        top: 15px;
    }
    
    .car-class-min-price .prices-chauffeur{
        position: relative;
        top: 3px;
    }
    .car-button-classname{
        margin-top:7px;
        position: relative;
        left: 40px;
    }
    
    .car-image{display: block;}
    
    .car-class .car-image img{
        width: 118px;
    }
}

@media only screen and (min-width: 1200px){
    .arrow{
        display:block;
        margin-top: 0px;
    }
    
    .car-arrow{display: block;
    margin-top: 6px;}
    
    .car-class-min-price{
        font-size: 80%;
        positiona: relative;
        left: 100px;
    }
    
    
    .car-name{
        margin-top: 8px;
        position: relative;
        left: 68px;
    }
    
    .car-features{
        position: relative;
        margin-top: 13px;
        left: 30px;
    }
    
    
    
    
    
   
    
    .car-class .car-image img{
        width: 130px;
        position: relative;
        left: 45px;
    }
    
    .car-button-features img{
        position: relative;
        left: 175px;
    }
    
    .car-button-classname{
        margin-top:7px;
        position: relative;
        left: 120px;
    }
    
    .car-button-image img{
        position: relative;
        left: 45px;
    }
}


