@import url("media-queries.css");
@import url("car-class-choice.css");

html {
}

body {
	height: 100%;
	/*font-size:16px;*/
	margin: 0;
	padding: 0;
	font-family: "Open Sans","PT Sans Caption", "verdana", sans-serif ;
	overflow-x: scroll;
}

section{
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

label {
	
}

.logo {
    -webkit-background:no-repeat center/60% url("images/smll1.png");
    background:no-repeat center/60% url("images/smll1.png");
    background-origin: content-box;
    background-size: cover;
    height: 7em;
}

.logo h1{
	color: #000000;
}

.logo span {
	font-weight: bold;
	color: #990031;
}

.destination-choice-wrap {
	width: 100%;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+51,8f0222+65,6d0019+100;Brown+Red+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+27,207cca+50,1e5799+100,7db9e8+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+35,8f0222+90 */
background: #6d0019; /* Old browsers */
background: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #6d0019 35%,#4d0026 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 ); /* IE6-9 */
}

.footer-wrap {
	width: 100%;
	background-color: #444d3e;
	margin-top:4px;
}

.header {
	border-bottom: 1px solid #c6c9c5;
}

.header-num-phone #text-above-phone{
	margin-left: 0px;
}

.phoneico{
  width: 76px;
  position: absolute;
  top: -4px;
  right: 246px;
}

.footer {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
        font-size: 23px;
}

.footer-link {
    color: #FFF;
}

.footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-credit-cards{
    -webkit-background:no-repeat url("images/visa.png");
    background:no-repeat url("images/visa.png");
    background-position: -23px -27px;
    background-size: 155% 155%;
    height: 69px;
    width: 69px;
    
}


#return{
    margin-right: 5px;
    float: left;
}

#return-form {
    float: right;
    
    margin-left: 9px;
    margin-top: 5px;
}

.service-choice{
	margin-top:17px;
}

.service-choice label, .service-choice input[type="radio"]{
	cursor: pointer; 
	font-size: 18px;
}

.service-choice label:hover{
	text-decoration: underline dashed;
}

.destination-choice span {
	font-size: 18px;
}

.destination-choice input[type="text"]{
	height: 50px;
        border: 4px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width:100%;
	padding-right: 5px;
	padding-left:5px;
	text-overflow: ellipsis;
	color: #000000;
}

#chaffeur-time-from, #chaffeur-time-to{
    background: url("images/el_date.png") no-repeat scroll -20px 9px #fff;	
    float: right;
    padding-left: 35px;
    vertical-align: top;
    white-space: normal;
    cursor: pointer;
}

#chaffeur-time-from-col {
    padding-left: 0px;
    margin-top: 0px;
}

#chaffeur-time-to-col{
   padding-left: 0px; 
   margin-top: 32px;
}


.input-from, .input-to{
/*i put this here because in mobile version this inputs were overflown by other
content. see stacking context. this might be a bad workaround
*/
    z-index:1;
}

.input-from label{
	float:right;
}

#input-from-chaffeur label{
    float: none;
    width: 100%;
}



#input-days-chaffeur label{
    float: none;
    width: 100%;
}

.chaffeur{
    display: none;
}

.input-to label{
	float: left;
}


#swap-icon-col{
	padding: 0px;
}



.swap-icon {
	text-align: center;
	cursor: pointer;
}

ul:first-child {
	list-style: none;
	margin-left: -39px;
}



.num-icon{
	text-align: center;
	margin-right:5px;
	color: #00AA4F;
	font-weight: bold;
}

.header-num-phone{
    text-align: right;
    margin-top: 23px;
    color: #c6c9c5;
    font-weight: bold;
    font-size: 15px;
	
}

.phone-number {
	font-size: 1.5em;
	font-weight:bold;
}

.head-description {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #8F948B;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.header-num-phone row div {
	margin-left:5px;
}

.dest-type-icons i {
	cursor: pointer;
	transition-property: background-color;
}

.dest-type-icons i:hover {
	color: #c6c9c5;
}

.notes-field{
	
}

.car-class-arrow {
    color: #697165;
}

.hide {
    display: none;
}

.wrap-for-dotted-border{
    position: absolute;
    height: 125px;
    width: 20%;
    border-right: 2px dotted #FFF;
    top: 0px;
    display:none;
}

/* passenger form*/
#destination-in-form{
    /*padding-top: 8px;*/
    height: 100%;
    font-size: 16px;
}

.cpanel {
	color: #333;
	background:#e3e4e2;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 20px;
        font-size: 14px;
	
}

.cpanel-heading {
	background: #6d0019;
	background: -moz-linear-gradient(left, #6d0019 35%, #4d0026 90%);
	background: -webkit-linear-gradient(left, #6d0019 35%,#4d0026 90%);
	background: linear-gradient(to right, #6d0019 35%,#4d0026 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 );
	color: #ffffff;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	font-weight: normal;
}

.cpanel-section {
	border-bottom: 2px solid #fff;
	padding: 20px;
}

.return-checkbox{
    font-size: 18px;
}

.label-wrapper {
    letter-spacing: 6px;
}

.location{
    letter-spacing: 2px;
    font-size: 16px;
    color: #6E6E6E;
}

.location-input {
    margin-top: 10px; 
}

.close > i{
    margin-top: 20px;
}

.cpanel-section label{
	float:left;
}

.cpanel-footer {
	color: #2A2E3F;
	background: #c6c9c5;
	border-radius: 0px 0px 8px 8px;
	text-align: center;
	padding: 20px;
}

.cpanel-item{
	padding: 10px;
}

.cpanel-input{
	width:100%;
	padding-left: 5px;
	height: 40px;
	border: 1px solid #c6c9c5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
        z-index: 0;
}

.cpanel label{
	/*margin-top: 5px;*/
	margin-bottom:0px;
	font-weight: normal;
}

.cpanel-input.textarea{
	height: 60px;
	padding: 8px 12px;
}

#route {
	font-weight: 300;
	margin-bottom: 20px;
}

.pseudo-link {
	color: #6d0019;
}

.pseudo-link span{
	text-decoration: underline dashed;
	cursor: pointer;
}

.row i{
	cursor: pointer;
}

#flight-number{
    
}

#date-arrival, #date-flight, #date-pickup-citytocity{
	background: url("images/el_date.png") no-repeat scroll -20px 9px #fff;	
	float: left;
	padding-left: 35px;
	vertical-align: top;
        white-space: normal;
	cursor: pointer;
}

#time-arrival, #time-flight, #time-pickup {
	background: url("images/el_date.png") no-repeat scroll 8px -41px #fff;
	float: left;
	padding-left: 35px;
	vertical-align: top;
	white-space: normal;
}

#return-panel{
    display: none;
}

.description{
    font-style: normal;
    font-size: 12px;
    margin-top: 10px;
    line-height: 16px;
    color: #6E6E6E;
}

.description-childseat-panel {
    font-style: normal;
    font-size: 12px;
    margin-top: 4px;
    line-height: 16px;
    color: #6E6E6E;
}

.inner-addon span{
    position: absolute;
    pointer-events: none;
    padding: 6px;
    color: #6D0019;
}

.inner-addon input{
    padding-left: 40px;
    padding-top: 3px;
}

#return-check-form{
    margin-top: 11px;
}

#pass-amount{
        
}
/* button-box (box with a title and a big button) */

.button-box {
	padding: 25px;
	background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #6d0019 35%,#4d0026 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 ); /* IE6-9 */
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button-box button{
    border: solid 1px #d7dbd7;
    background-color: #d7dbd7;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #697165;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -o-transition: background-color 1s, border-color 1s, color 1s;
    -moz-transition: background-color 1s, border-color 1s, color 1s;
    -webkit-transition: background-color 1s, border-color 1s, color 1s;
    transition: background-color 1s, border-color 1s, color 1s;
}

.button-box button:hover{
    background-color:#00B300;
    border: solid 1px #00B300;
    color:#fff;
    background-position: left bottom;
}

.button-box a:hover{
    text-decoration: none;
}

#button-box-confirmation{
    padding: 25px;
	background: transparent; /* Old browsers */
    
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

@keyframes highliteGoToPayment{
    from {
        background-color: #BDC6BE;
    }
    
    to {
        background-color: #00B300;
    }
}

.button-box-title {
	font-size: 18px;
	text-align: center;
}
/* right side fixed block */

.fixed-box{
        top: 0px;
        margin-top: 15px;
	background: #FFF6CC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e3e4e2;
	padding: 10px;
        color: #2A2E3F;
        display: none;
        box-shadow: -1px 3px 8px -2px rgba(0,0,0,0.7);
        z-index: 1;
	
}

.fixed-box-heading {
	font-size: 16px;
	margin-bottom: 10px;
}

.fixed-box-body {
	font-size: 14px;
	line-height: 19px;
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
}

.fixed-box-section{
	margin-bottom: 10px;
}

.fixed-box-section-heading{
	font-size: 12px;
	color: #6e6e6e;
}

.fixed-box-price{
	float: right;
}

.placeholder {
    visibility: hidden;
}

/* SKYPE buttons */

.skype{
    position: relative;
    bottom: 15px;
    left: -10px;
}

#car-class-container{
    opacity: 1;
    visibility: visible;
}



/* steps */
.step-wrap,
.steps,
.steps .step{
    height: 40px;
}

.steps-wrap{
    /*background-color: #bfbfbf;*/
    margin-bottom: 5px;
    
}
.steps{
    color: #000000;
    font-size: 11px;
}

#step1, #step2, #step3{
    position: relative;
}

#step1{
    top: 3px;
    right: 4px;
}

#step2{
   bottom: 4px;
   left: 5px;
}

#step3{
    top: 3px;
    left: 8px;
}

.steps .step{
    text-align: center;
    padding: 1px;
    border-left: none;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    border-top-left-radius: -31px;
    border-bottom-left-radius: -31px;
    padding-top: 9px;
}

.step-inactive{
    background: #C6C9C5;
}

.step-active{
    font-weight: bold;
    color: #fff;
    background-color: #6d0019; /* Old browsers */
    background-color: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%); /* FF3.6-15 */
    background-color: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%); /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to right,  #6d0019 35%,#4d0026 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 ); /* IE6-9 */
    animation-duration: 2s;
    animation-name: blinkActive;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinkActive{
    to {
        background-color: #6d0019; /* Old browsers */
        background-color: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%); /* FF3.6-15 */
        background-color: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%); /* Chrome10-25,Safari5.1-6 */
        background-color: linear-gradient(to right,  #6d0019 35%,#4d0026 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 ); /* IE6-9 */
    }
    
    from {
        color: #000;
        background-color: #fff; /* Old browsers */
        background-color: -moz-linear-gradient(left,  #fff 35%, #fff 90%); /* FF3.6-15 */
        background-color: -webkit-linear-gradient(left,  #fff 35%,#fff 90%); /* Chrome10-25,Safari5.1-6 */
        background-color: linear-gradient(to right,  #fff 35%,#fff 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
    }
}

.step-complete{
    color: #fff;
    background: #00b300; /* Old browsers */
}

.rounded-border{
    position: absolute;
    height: 40px;
    background: #fff;
    width: 20px;
    top: 0px;
    left: 0px;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
}

.pac-container:after{
    background-image: none !important;
    height: 0px;
}

/*  index.php features coming after car class buttons*/
.features-container{
    color: #444D3E;
    background-color: #C6C9C5;
    font-size: 23px;
    margin-top: 20px;
}

.features-inner{
    padding-left:0px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.features-col{
    margin-top: 20px;
   
       
}

.features-free-wait{
    background: transparent url("images/wait.png") no-repeat scroll 13px 2px;
    height: 67px;
}

.features-free-wait div, .features-lagguage div,.around-the-clock div,
.clean-car div, .greeting-sign, .fixed-price{
   line-height: 28px; 
}

.features-free-wait div{
    margin-left: 107px;
    
}

.features-service {
    background: transparent url("images/rservice.png") no-repeat scroll -8px -15px;
    height: 74px;
}

.features-service div{
    margin-left: 109px;
}


.features-free-wifi{
    background: transparent url("images/freewf.png") no-repeat scroll 13px 2px;
    height: 67px;
}

.features-free-wifi div{
    margin-left: 109px;
}

.around-the-clock{
    background-image: url("images/2471.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: -7px -19px;
    height: 67px;
    
}

.around-the-clock div{
    margin-left: 107px;
}

.clean-car img{
    width: 120px;
    height: 120px;
    
}

.clean-car{
   background-image: url("images/car.png");
   background-size: 140px 140px;
   background-repeat: no-repeat;
   background-position: -12px -42px;
   height: 67px;    
}

.clean-car div{
   margin-left: 109px;
}

.fixed-price{
    background: transparent url("images/fixed-price.png") no-repeat scroll 13px 8px;
    height: 67px;
}

.fixed-price div{margin-left: 107px;}

.greeting-sign{
    background: transparent url("images/gsign.png") no-repeat scroll 4px -21px;
    height: 67px;
}

.greeting-sign div{
    margin-left: 108px;
    margin-top:6px
}

.greeting-sign img{
    height: 85px;
    position: absolute;
    right: 14px;
}

/*language picker*/
.language-picker-wrap{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

#add {
    cursor: pointer;
    text-decoration: underline dashed;
    width: 100%;
}

input[type=checkbox]{
  -webkit-appearance:checkbox;
    width: 22px;
    height: 20px;
    padding-right: 10px;
}



.language-picker.button-list a{
    color: #6D0019;
}

.language-picker.button-list a:hover{
    background: transparent;
}

#map{
    float: right;
    width: 50%;
    height: 50%;
}

.return-panel{
    display: none;
}

.greeting{
    
   width: 87%;
position: absolute;
bottom: -29px;
right: 19px;
}

#greeting-sign{
    max-width: 38%;
    position: absolute;
    bottom: 144px;
    z-index: 1;
    transform: rotate(6deg);
    resize: none;
    text-align: center;
}

.online-payment{
        background: transparent url("images/visa1.png") no-repeat scroll 10px -4px;
        height: 73px;
        background-size: 82px;
}


.online-payment div{
    margin-left: 108px;
}

.date-picker{
    background: #FFF url("images/el_date.png") no-repeat scroll -20px 9px;
    padding-left:33px;  
}

.time-picker{
    background: #FFF url("images/el_date.png") no-repeat scroll 8px -41px;
    padding-left: 35px;
}

.error{
    border: none !important;
    -moz-box-shadow: 1px 1px 13px 3px red inset;
    -webkit-box-shadow: 1px 1px 13px 3px red inset;
    box-shadow: 1px 1px 13px 3px red inset;
}

#childseat{
    float: right;
    margin-left: 0px;
    margin-top: 4px;
    height: 15px;
}

.footer-link{
    color: #fff;
}

.footer-link:hover{
    color: #fff;
}

.currency-converter{
    margin-top: 8px;
    font-size: 14px;
}

.ui.simple.dropdown:hover > .menu{
    width: 100% !important; 
}

.about-wrap{
    font-size: 15px;
    padding: 20px;
}

.aboutHeaderWrap{
    text-align: center;
    padding: 20px;
    letter-spacing:3px;
    
}

#about-header{
    font-size:3em;
}

.aboutContent{
    max-width: 700px;
    margin-left:auto;
    margin-right: auto;
}

.aboutContent p{
    text-align: left;
    
    
}

.site-about a, #final a{
    color: #6D0019;
}

.site-about a:hover{
    color: #6D0019;
}

#transfer-word{
    color: #6D0019;
}

.row:focus{
    outline: unset !important;
}

#corporate .jumbotron{
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(left,  #6d0019 35%, #4d0026 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #6d0019 35%,#4d0026 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #6d0019 35%,#4d0026 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#4d0026',GradientType=1 ); /* IE6-9 */
    color: #fff !important;
    box-shadow: -16px 16px 8px -6px #e4e6e2;
}



#driver-bday .menu {
    z-index: 9999;
}

